{% extends 'master/base.html' %}

{% block title %}
  Teacher
{% endblock %}

{% block body %}
  <div class="container mt-5">
    <h3>Teacher Data</h3>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">#ID</th>
          <th scope="col">Name</th>
          <th scope="col">Address</th>
          <th scope="col">Email</th>
        </tr>
      </thead>
      <tbody>
        
        {% for teacher in teacher_data %}
        <tr>
            <td>{{teacher.id}}</td>
            <td>{{teacher.name}}</td>
            <td>{{teacher.address}}</td>
            <td>{{teacher.email}}</td>
        </tr>
        {% endfor %}
            
        
      </tbody>
    </table>
  </div>
{% endblock %}
